<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header indigo">
                        <h4 class="card-title text">Options</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <img class="icon-img" (click)="publishProject()" src="assets/img/icon-import-wallet.png">
                                        <div>
                                            <b>Publish Project</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <img class="icon-img" (click)="investedProjects()" src="assets/img/newWallet.png">
                                        <div>
                                            <b>Invested Projects</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
