<html>
    <head>
        <style>
            body {
                background-color: white;
            }
        </style>
    </head>
    <body>
        <h1>{{projectName}}</h1>
        <img src={{logo}} alt="logo"/>
        <h3>Description</h3>
        <pre>{{description}}</pre>
        <h3>Objectives</h3>
        <pre>{{objectives}}</pre>
        <pre><b>Publish date:</b> {{publishDate}}</pre>
        <pre><b>Submission project progress date:</b> {{submissionDate}}</pre>
    </body>
</html>